<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body bgcolor="Lavender">
<div>
    <button style="padding: 4px; background-color: Gold">
    <a href="{% url 'get_all_topic' %}">Головна</a></button>
</div>
<p>Заміна пароля</p>
<div>
  <form action="{% url 'password_change' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" style="padding: 4px; background-color: Gold"> Змінити </button>
  </form>
</div>
</body>
</html>